#canvasHolder {
  width: 700px;
  height: 450px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.chatModule {
  margin-top: 300px;
}

.sliderlabels {
  margin-left: 1000px;
  line-height: 30px;
  margin-top: 20px;
}
